body {
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
}

/* navbar */
.text-logo {
    font-size: 25px;
}

.container-fluid a {
    color: white;
}

.container-fluid a:hover {
    color: #38E54D;
}

.offcanvas-body ul {
    /* padding: 20px 20px; */
    font-size: larger;
    margin-right: 190px;
}

.offcanvas-body ul li {
    margin-right: 20px;
}

.navbar-brand {
    /* margin-left: 190px; */
    padding: 14%;
}

.navi-top {
    padding: 3%;
}

.navbar-togglerr {
    color: #38E54D;
    margin-right: 20px;
}

.offcanvas-header {
    color: white;
    background-image: url("bg2.jpg");
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    margin-right: 20px;
    border-color: rgba(255, 255, 255, 0.6);
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler:hover {
    margin-right: 20px;
    border-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 992px) {
    .offcanvas-body {
        background-image: url("bg2.jpg");
    }
}

nav.scroll {
    background-image: url("bg2.jpg");
    color: #eef;
}

nav1.scroll {
    padding: 1%;
}

/* head section */
.head {
    background-image: url("bg2.jpg");
    height: 100%;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    font-family: "Montserrat-Bold";
    padding: 8% 15% 4%;
}
@media screen and (max-width: 992px) {
    .head-data .hi-head{
        margin-top: 22px;
    }
}
.head h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
}

.lime {
    margin: 20px 2px 20px;
    color: #38E54D;
}

.subhead {
    color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.resume-btn,
.contact-btn {
    width: 40%;
    padding: 10px;
    color: #38E54D;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 5%;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid #38E54D;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.contact-btn {
    margin-left: 20px;
    color: white;
    border: 2px solid white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.resume-btn:hover {
    background-color: #38E54D;
    color: white;
}

.contact-btn:hover {
    background-color: white;
    color: black;
}

.head-data {
    padding: 10% 0% 0% 5%;
}

.head-img {
    text-align: left;
    padding: 7% 5%;
}

.icons {
    padding: 20px;
    text-align: center;
}

.icons img {
    padding-right: 20px;
}

/* about section */
.underline{
    text-decoration: none;
    border-bottom:3px solid #38E54D;
}
.heading-top{
    margin-bottom: 50px;
}
.about-section {
    padding: 7% 14%;
}

.about-section h1 {
    font-family: 'Libre Baskerville', serif;
}

.about-content {
    margin-top: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 3;
}

.resume-btn-about,
.contact-btn-about {
    width: 65%;
    margin-bottom: 15px;
    padding: 10px;
    color: #38E54D;
    background-color: transparent;
    border-radius: 5%;
    font-family: 'Libre Baskerville', serif;
    border: 3px solid #38E54D;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.contact-btn-about {
    width: 90%;
    color: #2192FF;
    border: 3px solid #2192FF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.resume-btn-about:hover {
    background-color: #38E54D;
    color: white;
}

.contact-btn-about:hover {
    background-color: #2192FF;
    color: white;
}

@media screen and (max-width: 992px) {
    .resume-btn-about {
        width: 90%;
    }
}


/* education section */

.education{
    background-image: url("bg2.jpg");
    height: 100%;
    background-attachment: fixed;
    /* color: white; */
    /* background-repeat: no-repeat; */
    font-family: "Montserrat-Bold";
    padding: 7% 15% 4%;   
}
.underline-edu{
    text-decoration: none;
    border-bottom:3px solid #38E54D;
}
.heading-top-edu{
    color: white;
    margin-bottom: 50px;
}

.contents{
    border-left: 2px solid #bababa;
}
.contents .box{
    position: relative;
    padding: 10px 20px 20px 20px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: #fafafa; */
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.4;
}
.contents .box:hover{
    box-shadow: 5px 3px 20px 3px #38E54D;
    border: 1px solid #38E54D;
}
.contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 6px);
    top: 0;
    background-color: #38E54D;
    border: 2px solid white;
}
.box h4{
    position: relative;
    color: #38E54D;
}
.box h3{
    font-size: 21px;
    padding: 10px 0px 6px;
    font-family: Helvetica, sans-serif;
    color: #DDF7E3;
}
.box p{
    line-height: 1.2;
    color:#DDF7E3;
    font-size: 17px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 2;
}